
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
/*FONTS*/

/* COMMON ELEMENTS */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #00639A;
}

a:hover {

}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffff;
    font-size: 40px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #323232;
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h5 {
    
}

p {
    color: #323232;
    font-size: 16px;
}

/* COMMON ELEMENTS */

/* NAVIGATION */
nav {
  background-color: #333;
}

nav a {

}

nav a:hover {

}
/* NAVIGATION */

/* BUTTONS */
.btn-primary {
    font-size: 18px;
    padding: 5px 30px 5px 30px;
    color: #ffffff;
    background-color: #04305F;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary:hover {
    font-size: 18px;
    padding: 5px 30px 5px 30px;
    color: #ffffff;
    background-color: #031F3E;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary {
    font-size: 18px;
    padding: 5px 30px 5px 30px;
    color: #ffffff;
    background-color: #8B8B8B;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary:hover {
    font-size: 18px;
    padding: 5px 30px 5px 30px;
    color: #ffffff;
    background-color: #8B8B8B;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
/* BUTTONS */
/*COMMON ELEMENETS*/

/* CUSTOM STYLES */
.rebate {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 6px solid #ECB12E;
}

.rebate2 {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 6px solid #ECB12E;
}

.start-rebate {
    background-color: #FCFCFC;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.9;
}

.header{
    background-image: url("../images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header2{
    background-image: url("../images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

.color-strip{
    height: 20px;
    background-color: #063F77;
}

.help-block {
    color: red;
    font-size: 12px;
    padding-top: 5px;
}

.offer-card{
    background-color: #FCFCFC;
    border: 1px solid #E6E6E6;
}

.attention{
    font-size: 14px;
}

.alert-light {
    border: 1px solid #8B8B8B;
}

/* PROGRESS BAR */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
/* Responsive Arrow Progress Bar */
.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #777;
  cursor: default;
  margin: 0 1px 0 0;
  padding: 10px 0px 10px 0px;
  width: 19%;
  float: left;
  position: relative;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-steps .step a {
  color: #777;
  text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 3px;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #ddd;
  z-index: 2;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

*.arrow-steps .step.done span:before {
  opacity: 1;
  content: "✓";
  position: absolute;
  top: -2px;
  left: -10px;
  font-size: 11px;
  line-height: 21px;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #ECB12E;
}

.arrow-steps .step.current a {
  color: #fff;
  text-decoration: none;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #ECB12E;
}

.arrow-steps .step.done {
  color: #ffffff;
  background-color: #ECB12E;
}

.arrow-steps .step.done a {
  color: #ffffff;
  text-decoration: none;
}

.arrow-steps .step.done:after {
  border-left: 17px solid #ECB12E;
}
/* PROGRESS BAR */


/* DAVID'S CSS */
.edit{
    position:relative;
    top: 0;
    right: 0;
    margin-right:15px;
}

.under{
    padding-bottom: 5px;
    border-bottom:1px solid rgba(0,0,0,.1);
}

dt, dd{
    margin-bottom: 15px;
}

.table th{
    border-top: none;
}

.nav-tabs .nav-link{
    background-color: #00639A;
    color: #ffffff;
    font-weight: 700;
    border: solid 1px #00639A;
    white-space: nowrap;
}

.nav-tabs .nav-link:hover{
    background-color: #009BD9;
    border: solid 1px #009BD9;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    font-weight: 700;
    color: #00639A;
    border-left: solid 1px #00639A;
    border-right: solid 1px #00639A;
    border-top: solid 1px #00639A;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover{
    color: #ffffff;
}

.wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

div a.edit:before {
    content: "";
    display: block;
    background: url("../images/edit-icon.svg") no-repeat;
    width: 14px;
    height: 14px;
    float: left;
    margin: 5px 6px 0 0;
}
/* DAVID'S CSS */


/* Footer */
footer {
  background-color: #011223; 
}

.footer-txt {
  font-size: 12px;
  color: #ffffff;
}

.footer-rules a {
  font-size: 16px;
    color: #ffffff;
}
/* Footer */


/* Media Queries */

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .arrow-steps .step {
      width: 19.90%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .rebate {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 6px solid #ECB12E;
    }
    h1 {
        font-size: 50px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  
    .edit{
        position:absolute;
        top: 0;
        right: 0;
        margin-right:15px;
    }
     .arrow-steps .step {
      width: 19.75%;
    }
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */



